<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='cv.css') }}">
    <script src="{{url_for('static', filename='cv.js')}}"></script>
    <title>Yaniv Lipovitsky CV</title>
</head>
<body>
    <h1>Yaniv Lipovitsky CV</h1>
    <div class="grid-container">
        <a class="item1" href="https://www.linkedin.com/in/yanivlipo/">My Linkedin Profile</a>
        <div class="item2">Yanivlipo@gmail.com</div>
        <div class="item3">
            2019-Present -Product Manager at Cisco</br>
            Experienced product manager, working on SaaS products in a cloud security team.</br>
            ► Work closely with the R&D teams to define requirements and ensure end-to-end high-quality product delivery</br>
            ► Define and analyze metrics that inform the success of products and convert data to insights that make better products</br>
            ► Engage with customers to define long term vision and Identify client business needs</br>
        </div>
    </div>

    <div id='profile' class="grid-item">
        <img  src="{{url_for('static', filename='me.jpeg')}}" alt="my_photo" id="my_photo">
    </div>
</body>
</html>